<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,50,50,0.6) 0%, rgba(0,36,61,0.6) 50%),  url(<%= image_path "banner2.jpg" %>);">
  <div class="infront-banner" style="background-image: url(<%= image_path "logo.jpg" %>)">
    <div><h3>
      <span class="margin-bottom" id="banner-typed-text"></span>
    </h3>
    <a href="#cocktails"> <button class="btn-lg btn-primary margin-top">View Our Cocktails</button></a>
  </div>
</div>
</div>
<hr>
<div class="container">
  <a name="cocktails"></a>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-4">

      <div class="card">
        <%= link_to "", cocktail_path(cocktail), class:"card-link" %>
        <div class="card-body" style="width: 300px; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>');">
          <h5 class="card-title"><%= link_to cocktail.name , cocktail_path(cocktail) %></h5>
          <ul class="card-description">
            <% cocktail.doses.each do |dose| %>
            <li>
              <%= dose.ingredient.name %>
              <%= dose.description %>

            </li>
            <% end %>
          </ul>
          <div class="card-footer"><%= Date.today %>
            <div class="card-buttons">
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-share"></i></a>
              <%= link_to cocktail_path(cocktail), method: :delete do  %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%# @ingredients.each do |ingredient| %>
<!-- <p><%#= ingredient.name %></p> -->
<%# end %>
