<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),  url(<%= image_path "banner2" %>);">
  <h1>What's your favourite?</h1>
  <a href="#cocktails"> <button class="btn btn-primary">View Our Cocktails</button></a>
</div>
<hr>
<div class="container">
<a name="cocktails"></a>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card"><%= link_to "", cocktail_path(cocktail), class:"card-link" %>
    <div class="card-body" style="width: 300px; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>');">
      <h5 class="card-title"><%= link_to cocktail.name , cocktail_path(cocktail) %></h5>
      <ul class="card-description">
        <% cocktail.doses.each do |dose| %>
        <li>
        <%= dose.ingredient.name %>
          <%= dose.description %>

          </li>
           <% end %>
      </ul>
      <div class="card-footer">03/05/2018
        <div class="card-buttons">
          <a href="#"><i class="fa fa-star"></i></a>
          <a href="#"><i class="fa fa-heart"></i></a>
          <a href="#"><i class="fa fa-share"></i></a>
        </div>
      </div>

    </div>
  </div>
  <% end %>
</div>
<%= link_to "Add a new Cocktail", new_cocktail_path %>
</div>
<%# @ingredients.each do |ingredient| %>
<!-- <p><%#= ingredient.name %></p> -->
<%# end %>
